<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button mode="md" text=""></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>{{isEdit ? 'Edit Food':'Add Food' }}</ion-title> -->

    <ion-title *ngIf="isEdit">{{'Edit Food' | translate}}</ion-title>

    <ion-title *ngIf="!isEdit">{{'Add Food' | translate}}</ion-title>

    <!-- <ion-button *ngIf="isEdit == true" slot="end" class="delete_icn" icli fill="clear">
      Delete
    </ion-button> -->

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="mainContent">
    <ion-list lines="none">
      <ion-item>
        <ion-label>{{'Category' | translate}}</ion-label>
        <ion-select [(ngModel)]="cid" interface="popover" mode="ios">
          <ion-select-option *ngFor="let item of categories" [value]="item.id">{{item.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="name" type="text" [placeholder]="('Food Name' | translate )"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="price" type="number" [placeholder]="('Price' | translate )"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>{{'Veg' | translate}}</ion-label>
        <ion-toggle slot="end" [(ngModel)]="veg"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-textarea [(ngModel)]="descriptions" rows="5" [placeholder]="('Short descriptions' | translate )">
        </ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>{{'Status' | translate}}</ion-label>
        <ion-select [(ngModel)]="status" interface="popover" mode="ios">
          <ion-select-option value="true">{{'Available' | translate}}</ion-select-option>
          <ion-select-option value="false">{{'Hide' | translate}}</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="coverPlaceholder" (click)="cover()" *ngIf="!coverImage || coverImage ==''">
        <ion-icon name="cloud-upload-outline" color="primary"></ion-icon>
        <p>{{'Upload foods cover image here' | translate}}</p>
      </div>
      <div class="coverReal" (click)="cover()" [style.backgroundImage]="'url('+coverImage+')'"
        *ngIf="coverImage && coverImage !=''">
      </div>
      <ion-item>
        <ion-label>Size?</ion-label>
        <ion-toggle slot="end" (ionChange)="changeSize($event)" [(ngModel)]="size"></ion-toggle>
      </ion-item>
      <ion-item class="noLines">
        <ion-label>Add-ons</ion-label>
        <ion-icon name="add" (click)="addNew()" slot="end"></ion-icon>
      </ion-item>


      <ion-list>
        <ion-item-sliding *ngFor="let item of variations;let i = index;">
          <ion-item class="noLines">
            <ion-label>{{item.title}}</ion-label>
            <ion-icon name="create-outline" slot="end" *ngIf="item.title !=='size'" (click)="editTitle(i)"></ion-icon>
            <ion-icon name="add-circle" slot="end" (click)="addItem(i)"></ion-icon>
            <ion-icon name="trash" slot="end" (click)="delete(item)"></ion-icon>
          </ion-item>
          <ion-item *ngFor="let sub of item.items;let j = index" class="sub" lines="nones">
            <ion-label>{{sub.title}}
              <ion-label>{{getCurrency()}}{{sub.price}}</ion-label>
            </ion-label>
            <ion-icon name="create-outline" slot="end" (click)="editSub(i,sub,j)"></ion-icon>
            <ion-icon name="trash-outline" slot="end" (click)="deleteSub(i,sub)"></ion-icon>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
      <ion-row>
        <ion-col size="6">
          <ion-button (click)="submit()" expand="block">
            {{'Submit' | translate}}
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" (click)="preview()">Preview</ion-button>
        </ion-col>
      </ion-row>
    </ion-list>

  </div>
</ion-content>